image: mcr.microsoft.com/playwright/python:v1.48.0-jammy

cache:
  key: playwright-browsers
  paths:
    - /root/.cache/ms-playwright

stages:
  - test

before_script:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - playwright install

test_job:
  stage: test
  script:
    - pytest test_POM.py --html=report.html --self-contained-html
  artifacts:
    when: always
    paths:
      - report.html
    expire_in: 30 days
